@tailwind base;
@tailwind components;
@tailwind utilities;

.icon-hover:hover {
    scale: 1.03;
    transition: all ease 0.20s;
}
.icon-hover2:hover {
    scale: 1.08;
    transition: all ease 0.15s;
}
.shadow-transition {
    transition: box-shadow 0.4s ease;
  }
  