@tailwind base;
@tailwind components;
@tailwind utilities;

.icon-hover:hover {
    scale: 1.03;
    transition: all ease 0.20s;
}
.icon-hover2:hover {
    scale: 1.08;
    text-decoration: underline;
    transition: all ease 0.15s;
}
.icon-hover3:hover {
  scale: 1.08;

  transition: all ease 0.15s;
}
.shadow-transition {
    transition: box-shadow 0.4s ease;
  }
  

     /* For WebKit (Chrome, Safari) */
::-webkit-scrollbar {
    width: 5px; 
  }
  
  ::-webkit-scrollbar-thumb {
    background: #565656;  
    border-radius: 10px;
    border: 1.5px solid black;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #4b4b4b; 
    border-radius: 10px;
    border: 1.5px solid black;
  }
  
